body{
    background-image: linear-gradient(to right, #0A2A18, #164A29, #0F441E);
    background-size: cover;
}

h1{
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-top: 5rem;
    padding: 2rem 0.5rem;
    
}
h1:hover{
    background: linear-gradient(to bottom, #d697e9, #25553F);
}
.imgHome {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img.card-img-top.imgHome{
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}


img.card-img-top.imgHome:hover{

    background: linear-gradient(to bottom, #d697e9, #25553F);
    transform: scale(1.2);
}

div.dashboard{
    padding: 4rem 3rem 4rem 10rem;
}

div.index{
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
}
div.form{
    padding: 5rem;
}

div.delete{
   
   width:fit-content;

}

div.show{
    width: 80%;
}

div.form-group.login{
    color: white;
}