{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
 
    <div class="container mt-3 mb-3">
       <h1>Modifier un utilisateur</h1>
        
        <div>
        {{ include('back/user/_form.html.twig', {'button_label': 'Modifier'}) }} 
        {{ include('back/user/_delete_form.html.twig') }}
        </div>
        <div class="mt-3">
            <a href="{{ path('app_back_user_index') }}">Revenir à la liste des utilisateurs</a>
        </div>
    </div>
{% endblock %}
