{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
    <h1>Ajouter un utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('app_back_user_index') }}">revenir à la liste des utilisateurs</a>
</div>
{% endblock %}
