{% extends 'base.html.twig' %}

{% block title %}Modifier un service{% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
    <h1>Modifier un service</h1>

    <div class="index">
    {{ include('back/tag/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    {{ include('back/tag/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
   

    <div class="mt-3">
    <a href="{{ path('app_back_tag_index') }}"><button type="button" class="btn btn-secondary">Revenir à la liste des services</button></a>
    </div>
</div>
{% endblock %}
